{% extends "base_bootstrap.html" %}

{% block content %}
	<br>
	<h4>
		<a href="{% url 'catalog:bids'%}">
			<i class="fa fa-chevron-circle-left"></i> 
			Todos los convenios
		</a>
	</h4>
	<h1>{{bid}}</h1>

	<ul>
		<h3>
			<li>
				<a href="{% url 'catalog:bidattribute_list' bid.id %}">
					<i class="fa fa-archive"></i> 
					&nbsp
					Atributos del convenio
				</a> 
			</li>
		</h3>
		<h3>
			<li>
				<a href="{% url 'catalog:category_list' bid.id %}">
					<i class="fa fa-tree"></i> 
					&nbsp
					Árbol de categorías
				</a>
			</li>
		</h3>

		<h3>
			<li>
				<a href="{% url 'catalog:algorithms' bid.id %}">
					<i class="fa fa-cogs"></i> 
					&nbsp
					Algoritmos
				</a>
			</li>
		</h3>
	</ul>
{% endblock %}