{% extends "base_bootstrap_nonavbar.html" %}

{% block navbar %} 
	<nav class="navbar navbar-default navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="{% url 'catalog:categories' bid.id%}">Catálogo</a>
	    </div>
	    <ul class="nav navbar-nav">
	        <li>
	       <a class="navbar-brand" href="{% url 'catalog:algorithms' bid.id %}">Algoritmos</a>
	    </li>
	    </ul>
	  </div>
	</nav>
{% endblock %}


{% block content %}
	<h1>{{bid}}</h1>
	<h2> Atributos convenio </h2>
	<p>
		<a href="{% url 'catalog:bidattribute_create' bid.id %}"><i class="fa fa-plus"></i> Agregar Atributo</a>
	</p>
	<p>
		{% if bidattribute_list %}
			<table class="table table-striped">
				<thead>
					<tr>
						<td> NOMBRE </td>
						<td> </td>
					</tr>
				</thead>
				<tbody>
					{% for bidattribute in bidattribute_list %}
						<tr>
							<td> {{bidattribute.name}} </td>
							<td>
								<a href="{% url 'catalog:bidattribute_update' bidattribute.id %}"><i class="fa fa-pencil-alt"></i></a>
								&nbsp;
								<a href="{% url 'catalog:bidattribute_delete' bidattribute.id %}"><i class="fa fa-trash"></i></a> 
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			Aún no hay atributos para este convenio
		{% endif %}
	</p>


	<h2> Categorías </h2>
	<p>
		<a href="{% url 'catalog:category_create' root_category.id %}"><i class="fa fa-plus"></i> Agregar categoría nivel 1</a>
	</p>
	<p>
	{% if category_list %}
	<ul>
	    {% for category in category_list %}
				<li>
		   
		        {% if category.level < category.bid.max_category_level %}
		        	{{ category.tree_name}}
		        	&nbsp;
					<a href="{% url 'catalog:category_create' category.id %}"><i class="fa fa-plus"></i></a>
				{% else %}
					<a href="{% url 'catalog:category_detail' category.id %}">{{ category.tree_name }}</a>
					&nbsp;
				{% endif %}
				<a href="{% url 'catalog:category_update' category.id %}"><i class="fa fa-pencil-alt"></i></a>
				<a href="{% url 'catalog:category_delete' category.id %}"><i class="fa fa-trash"></i></a> 

		    	</li>
		{% endfor %}
	</ul>

	{% else %}
	  <p>Aún no hay categorías.</p>
	{% endif %}
	</p>
{% endblock %}