{% extends "base_bootstrap.html" %}

{% block content %}

<div class=header>
	<h1>
		<a href="{% url 'catalog:bidattribute_list' bidattribute.bid.id %}">
		<i class="fa fa-chevron-circle-left"></i> </a>
		{{bidattribute.name}}
	</h1>
	<div class="note"> {{bidattribute.bid}} </div>
</div>
{% if table_content %}
	<table class="table table-striped">
		<thead>
			<tr>
				<td> Nivel </td>
				<td> Zona </td>
				<td> Precio minimo ({{bidattribute.unit.abbreviation}})</td>
				<td> Precio máximo ({{bidattribute.unit.abbreviation}}) </td>
				<td> Borrar </td>
			</tr>
		</thead>
		<tbody>
			{% for k, v in table_content.items %}
				<tr>
					<td>
						{{v.0.bidattributelevel.name}}

					</td>
					<td> 
						{% for obj in v %} 
							{{obj.zone}}
							<br> 
						{% endfor %}
					</td>
					<td> 
						{% for obj in v %} 
							{{obj.bidattributelevel.minprice}}
							<br>
						{% endfor %}
					</td>
					<td> 
						{% for obj in v %} 
							{{obj.bidattributelevel.maxprice}}
							<br>
						{% endfor %}
					</td>
					<td>
						<a href="{% url 'catalog:bidattributelevel_delete' v.0.bidattributelevel.id %}"><i class="fa fa-trash"></i></a> 
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<em> No existen niveles </em>
{% endif %}
<br>
<a href="{% url 'catalog:bidattributelevel_create' bidattribute.id %}"><i class="fa fa-plus"></i> Agregar Nivel </a>

{% endblock %}