{% extends "base_bootstrap.html" %}

{% block content %}
<div class=header>
    <h1>
        <a href="{% url 'catalog:bidattribute_detail' bidattributelevel.bidattribute.id %}"> <i class="fa fa-chevron-circle-left"></i></a>
        Borrar nivel de atributo
    </h1>
    <div class="note"> {{bidattributelevel.bidattribute.bid}} > {{bidattributelevel.bidattribute.name}}</div>
</div>

¿Quieres eliminar el nivel de atributo {{ bidattributelevel.name }}?

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Confirmar">
  <input type="submit" value="Cancelar" onclick="window.location.href='{% url 'catalog:bidattribute_detail' bidattributelevel.bidattribute.id %}';return false;">
</form>
{% endblock %}