{% extends "base_bootstrap.html" %}

{% block content %}
<div class=header>
	<h1>
		<a href="{% url 'catalog:bid_detail' bidattribute.bid.id %}">
		<i class="fa fa-chevron-circle-left"></i> </a>
		Borrar atributo del convenio
	</h1>
	<div class="note"> {{bidattribute.bid}} </div>
</div>
¿Quieres eliminar el atributo {{ bidattribute.name }}?

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Aceptar">
  <input type="submit" value="Cancelar" onclick="window.location.href='{% url 'catalog:bidattribute_list' bidattribute.bid.id %}';return false;">
</form>
{% endblock %}