{% extends "base_bootstrap.html" %}

{% block content %}
<br>
<h4>
	<a href="{% url 'catalog:category_list' bid.id%}">
		<i class="fa fa-chevron-circle-left"></i> 
		Volver
	</a>
</h4>
<h3>
	{% for node in branch %}
		{% if node.level != bid.max_category_level %}
			{{node}}
			>
		{% else %}
			<a href="{% url 'catalog:category_detail' node.id %}">{{node}}</a> 
			>
		{% endif %}
	{% endfor %}
</h3>

<h1>
	{{ category.name }}
	<a href="{% url 'catalog:category_update' category.id %}"><i class="fa fa-pencil-alt"></i></a>
	<a href="{% url 'catalog:category_delete' category.id %}"><i class="fa fa-trash"></i></a>
</h1>

<br>
<div class="container">
	<h4>Atributos</h4>
	{% if attributes %}
		<table class="table table-striped">
			<thead>
				<tr>
					<td> NOMBRE </td>
					<td> TIPO </td>
					<td> FIJO </td>
					<td> </td>
				</tr>
			</thead>
			<tbody>
				{% for attribute in attributes %}
					<tr>
						<td>{{attribute}}</td> 
						<td>{{attribute.attribute_type}}</td>
						<td>{{attribute.fixed}}</td>
						<td><a href="{% url 'catalog:attribute_update' attribute.id %}"><i class="fa fa-pencil-alt"></i></a>
						&nbsp;
						<a href="{% url 'catalog:attribute_delete' attribute.id %}"><i class="fa fa-trash"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p><em> Aún no existen atributos </em></p>
	{% endif %}
	<p>
	<a href="{% url 'catalog:attribute_create' category.id %}"><i class="fa fa-plus"></i>Agregar</a>
	</p>
</div>

<br>

<div class="container">
	<h4>Productos</h4>
	{% if table_data %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<td rowspan = 2> MODELO </td>
					{% for attribute in attributes %}
						{% if attribute.zone_or_global == "NACIONAL" %}
							<td rowspan = 2> {{attribute.full_str}}</td>
						{% else %}
							<td colspan= {{zones|length}}> {{attribute.full_str}}</td>
						{% endif %}
					{% endfor %}
					<td rowspan = 2> </td>
				</tr>
				<tr>
					{% for attribute in attributes %}
						{% if attribute.zone_or_global == "ZONA" %}
							{% for zone in zones %}
								<td>
									{{zone}}
								</td>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for obj in table_data %}
					<tr>
						<td> {{obj.product.name}} </td> 
						{% for att in obj.attributes_data %}
							{% for att_zone in att %}		
								<td>
								{{att_zone.value | truncatechars:20}}
								{% if att_zone.others %}
									<br>
									Otros?  
									{% if att_zone.others == True %}
										<i class="fa fa-thumbs-up"></i>
									{% else %}
										<i class="fa fa-thumbs-down"></i>
									{% endif %}
								{% endif %}
								{% if att_zone.integer %}
								<br>
									Decimales?
									{% if att_zone.integer == True %}
										<i class="fa fa-thumbs-down"></i> 
									{% else %}
										<i class="fa fa-thumbs-up"></i>
									{% endif %}
								{% endif %}
								</td>
							{% endfor %}
						{% endfor %}
						<td colspan = {{zones|length}}>
							<a href="#"><i class="fa fa-pencil-alt"></i></a>
							&nbsp;
							<a href="{% url 'catalog:product_delete' obj.product.id %}"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	{% else %}
		<p> <em> Aún no existen productos. </em> </p>
	{% endif %}
	<p>
	<a href="{% url 'catalog:product_create' category.id %}"><i class="fa fa-plus"></i>Agregar</a>
	</p>
</div>


{% endblock %}