{% extends "base_bootstrap.html" %}

{% block content %}

<div class=header>
	<h1>
		<a href="{% url 'catalog:category_list' category.bid.id%}"> <i class="fa fa-chevron-circle-left"></i></a>
		{{category}}
	</h1>

	<div class=note>
		<i class="fa fa-tree"></i> >
		{% for node in branch %}
			{% if node.level != bid.max_category_level %}
				{{node}}
				>
			{% else %}
				<a href="{% url 'catalog:category_detail' node.id %}">{{node}}</a> 
				>
			{% endif %}
		{% endfor %}

		{{category}}
	</div>
</div>

<div>
	<h2>Atributos</h2>
	{% if attributes %}
		<table class="table table-hover">
			<thead>
				<tr>
					<td> Nombre </td>
					<td style="width:200px"> Tipo </td>
					<td style="width:100px"> Fijo </td>
					<td style="width:150px"> Nivel </td>
					<td style="width:250px"> Acepta otros? <br><em>(Nominal)</em></td>
					<td style="width:250px"> Solo valores enteros <br><em>(Ratio)</em></td>
					<td style="width:100px"> Editar </td>
					<td style="width:100px"> Borrar </td>
				</tr>
			</thead>
			<tbody>
				{% for attribute in attributes %}
					<tr>
						<td>{{attribute}}</td> 
						<td>{{attribute.attribute_type}}</td>
						<td>{{attribute.fixed}}</td>
						<td>{{attribute.zone_or_global}}</td>
						<td>
							{% if attribute.accept_others == True %}
								SI
							{% elif attribute.accept_others == False%}
								NO
							{% else %}
								-
							{% endif %}
						</td>
						<td>
							{% if attribute.only_integers == True %}
								SI
							{% elif attribute.only_integers == False %}
								NO
							{% else %}
								-
							{% endif %}

						</td>						
						<td>
							<a href="{% url 'catalog:attribute_update' attribute.id %}"><i class="fa fa-pencil-alt"></i></a>
						</td>
						<td>
							<a href="{% url 'catalog:attribute_delete' attribute.id %}"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p><em> Aún no existen atributos </em></p>
	{% endif %}
	<p>
	<a href="{% url 'catalog:attribute_create' category.id %}"><i class="fa fa-plus"></i>Agregar</a>
	</p>
</div>

<div>
	<h2>Productos</h2>
	<div class=note>
        Nota: Los productos no pueden ser editados posterior a su creación. Para cambiarlos se deber borrar y crear uno nuevo.
    </div>
	{% if table_data %}
		<table class="table table-hover">
			<thead>
				<tr>
					<td rowspan = 2> MODELO </td>
					{% for attribute in attributes %}
						{% if attribute.zone_or_global == "NACIONAL" %}
							<td rowspan = 2> {{attribute.full_str}}</td>
						{% else %}
							<td colspan= {{zones|length}}> {{attribute.full_str}}</td>
						{% endif %}
					{% endfor %}
					<td rowspan = 2> Borrar </td>
				</tr>
				<tr>
					{% for attribute in attributes %}
						{% if attribute.zone_or_global == "ZONA" %}
							{% for zone in zones %}
								<td>
									{{zone}}
								</td>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for obj in table_data %}
					<tr>
						<td> {{obj.product.name}} </td> 
						{% for att in obj.attributes_data %}
							{% for att_zone in att %}
								<td>
								{{att_zone.value | truncatechars:20}}
								</td>
							{% endfor %}
						{% endfor %}
						<td colspan = {{zones|length}}>
							<a href="{% url 'catalog:product_delete' obj.product.id %}"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	{% else %}
		<p> <em> Aún no existen productos. </em> </p>
	{% endif %}
	<p>
	<a href="{% url 'catalog:product_create' category.id %}"><i class="fa fa-plus"></i>Agregar</a>
	</p>
</div>


{% endblock %}