{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<br>

	<h4>
		<a href="{% url 'catalog:category_list' bid.id %}">
			<i class="fa fa-chevron-circle-left"></i> 
			Volver
		</a>
	</h4>

	<h1>
		Agregar Categoría
	</h1>

	<p>
	  <form action="" method="post">
	    {% csrf_token %}
    	{{ form.non_field_errors }}

    	<div class="fieldWrapper" id="name">
			{{ form.name.label_tag }}
			{{ form.name }}
			{{ form.name.errors }}
		</div>


	    <input type="submit" value="Agregar">
	    <input type="submit" value="Cancelar" onclick="window.location.href='{% url 'catalog:category_list' bid.id %}';return false;">
	  </form>
	</p>

{% endblock %}