{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class=header>
	<h1>
		<a href="{% url 'catalog:category_list' bid.id %}"> <i class="fa fa-chevron-circle-left"></i></a>
		{% if category %}
			Editar categoría
		{% else %}
			Agregar categoría
		{% endif %}
	</h1>
</div>

<form action="" method="post">

	{% csrf_token %}
	{{ form.non_field_errors }}

	<div class="fieldWrapper" id="name">
		Nombre:
		{{ form.name }}
		{{ form.name.errors }}
	</div>

	<input type="submit" value="Aceptar">
	<input type="submit" value="Cancelar" onclick="window.location.href='{% url 'catalog:category_list' bid.id %}';return false;">
</form>

{% endblock %}