{% extends "base_bootstrap.html" %}

{% block content %}
<div class=header>
    <h1>
        <a href="{% url 'catalog:category_detail' product.category.id %}"> <i class="fa fa-chevron-circle-left"></i></a>
        Eliminar producto
    </h1>
</div>



¿Quieres eliminar el producto: {{ product }}?</p>
<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Confirmar">
  <input type="submit" value="Cancelar" onclick="window.location.href='{% url 'catalog:category_detail' product.category.id %}';return false;">
</form>
{% endblock %}