{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}


{% block content %}
<br>
<h4>
    <a href="{% url 'catalog:algorithms' bid.id%}">
        <i class="fa fa-chevron-circle-left"></i> 
        Volver
    </a>
</h4>

<h1>
	Validar Ofertas
</h1>

<p>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    {{ form.non_field_errors }}

	<div class="fieldWrapper">
	    {{ form.content.errors }}
	    {{ form.content.label_tag }}
	    {{ form.content }}
	 </div>

	<input type="submit" value="Validar">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'catalog:algorithms' bid.id %}';return false;">
</form>
{% endblock %}