{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class=header>
	<h1>
		<a href="{% url 'catalog:algorithms' bid.id%}">
		<i class="fa fa-chevron-circle-left"></i> </a>
		Validar ofertas
	</h1>
	<div class = "note"> Carga las planillas excels de las ofertas y obten la planilla consolidada y validada </div>
</div>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    {{ form.non_field_errors }}

	<div class="fieldWrapper">
	    {{ form.content.errors }}
	    {{ form.content.label_tag }}
	    {{ form.content }}
	 </div>

	<input type="submit" value="Validar">
    <input type="submit" value="Cancelar" onclick="window.location.href='{% url 'catalog:algorithms' bid.id %}';return false;">
</form>
{% endblock %}